@import "tailwindcss";

html {
  @apply scroll-smooth;
}

body {
  @apply bg-neutral-100 text-neutral-800 text-sm xl:text-base;
}

@layer utilities {
  .container {
    @apply max-w-[1140px] mx-auto w-full px-4 md:px-6 lg:px-8;
  }
  button {
    @apply cursor-pointer;
  }
  .section {
    @apply pt-20 lg:pt-32;
  }
  h2 {
    @apply text-2xl lg:text-3xl font-semibold;
  }
}

.glow-animation {
  animation: rotate360 linear infinite 15s;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.navbar {
  @apply flex items-center justify-center text-center  lg:hidden fixed top-0 left-0 w-full h-screen z-50 bg-neutral-950 -translate-y-full transition-transform;
}
.navbar.active {
  @apply translate-y-0;
}
